<div class="container">

  <h1>Starred Repos</h1>

  <table class="table">
    <% @starred_repos.each do |repo| %>
    <tr>
      <td><h4><%= link_to repo.name, repo.html_url %></h4>
      <p>By: <%= repo.owner['login'] %>  </p></td>
    </tr>
  <% end %>
  </table>

</div>
